.pure-form input[type="text"],
.pure-form textarea {
  border: 0;
  border-radius: 0;
  box-shadow: none;
}

body {
    margin: 0;
    padding: 0;
}

html,
body,
p,
h1,h2,h3,h4,h5,h6,
.pure-g [class*=pure-u] {
    font-family: "Raleway";
    font-weight: 400;
    color: #333;
}

.scrap-logo, .fab-logo {
  box-sizing: border-box;

  font-family: Muncie !important;

  font-size:   6em;
  line-height: 3rem;
  padding: 2.5rem 1rem 1rem 1rem;

  color:       #fff !important;
  text-align:  right;
}

.scrap-logo {
  background: #ee5e4f;
}

.fab-logo {
  background: #444b5d;
}