.pure-form input[type="text"],
.pure-form textarea {
  border: 0;
  border-radius: 0;
  box-shadow: none;
}

html,
body,
p,
h1,h2,h3,h4,h5,h6,
.pure-g [class*=pure-u] {
    font-family: "Raleway";
    font-weight: 400;
    color: #333;
}

.scrap-logo, .fab-logo {
  font-family: Muncie;
  font-size:   6em;
  color:       #fff;
  padding: 1.5rem 0.5rem 0 0.5rem;
}

.scrap-logo {
  background: #ee5e4f;
  text-align: right;
}

.fab-logo {
  background: #444b5d;
}